{% load staticfiles %}
<div class="container content-xs visible-xs"></div><!--/container-->

<div class="container content-sm hidden-xs">
    <div class="row">
        {% for service in services %}
            <div class="col-xs-12 col-sm-4 col-md-4 content-boxes-v6 md-margin-bottom-50">
                <i class="rounded-x {{ service.icon }}" aria-hidden="true"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">{{ service.title }}</h2>
                <p>{{ service.description }}</p>
            </div>
        {% endfor %}
    </div><!--/row-->
</div><!--/container-->