{% extends 'base.html' %}

{% block content %}
    <!--=== Slider ===-->
    {% include '_partials/slider.html' %}
    <!--=== End Slider ===-->

    <!--=== Service Block ===-->
    {% include '_partials/service.html' %}
    <!--=== End Service Block ===-->

    <!--=== About Block ===-->
    {% include '_partials/about.html' %}
    <!--=== End About Block ===-->

    <!--=== Hostels ===-->
    {% include '_partials/hostels.html' %}
    <!--=== End Hostels ===-->

    <!--=== Testimonials Section ===-->
    {% include '_partials/testimonials.html' %}
    <!--=== End Section ===-->
{% endblock %}