certifi==2017.4.17
chardet==3.0.4
Django==2.2.24
django-admin-shortcuts==1.2.7
django-appconf==1.0.2
django-ckeditor==5.3.0
django-compressor==2.2
django-debug-toolbar==1.8
django-htmlmin==0.10.0
django-js-asset==0.1.1
django-recaptcha2==1.0.3
django-seo2==1.0.1
html5lib==0.999999999
idna==2.5
olefile==0.44
Pillow==4.2.0
pytz==2017.2
rcssmin==1.0.6
requests==2.18.1
rjsmin==1.0.12
singlemodeladmin==0.7
six==1.10.0
sqlparse==0.2.3
urllib3==1.21.1
webencodings==0.5.1
